<?xml version='1.0' encoding='utf-8'?>
<widget id="com.linksafrica.mobileapp" version="11.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LinksAfrica.net</name>
    <description>
        Links Africa offers exclusive advertisement and promotional services
    </description>
    <author email="linksafrica2017@gmail.com" href="http://phonegap.com">
        LinksAfrica Team
    </author>
    <content src="index.html" />
    <access launch-external="yes" origin="whatsapp:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="SplashScreenDelay" value="10000" />
    <platform name="android">
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.jpg" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.jpg" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.jpg" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.jpg" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.jpg" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.jpg" />
    </platform>
    <platform name="ios">
       
                <!-- iPhone 6 / 6+ -->
        <icon src="www/res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
        <icon src="www/res/icon/ios/icon-1024.png" platform="ios" width="1024" height="1024" />

        <!-- iPhone / iPod Touch  -->
        <icon src="www/res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
        <icon src="www/res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="www/res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
        <icon src="www/res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
        <icon src="www/res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

        <!-- Settings Icon -->
        <icon src="www/res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
        <icon src="www/res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
        <icon src="www/res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

        <!-- Spotlight Icon -->
        <icon src="www/res/icon/ios/icon-small-40.png" platform="ios" width="40" height="40" />
        <icon src="www/res/icon/ios/icon-small-40@2x.png" platform="ios" width="80" height="80" />
        <icon src="www/res/icon/ios/icon-small-40@3x.png" platform="ios" width="120" height="120" />

    </platform>
    <platform name="wp8">
        <splash height="1280" platform="wp8" src="www/res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <splash height="300" platform="windows" src="www/res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <splash height="1920" platform="windows" src="www/res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <plugin name="cordova-plugin-battery-status" spec="~1.2.4" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-media-capture" spec="~1.4.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.7" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="4.5.4" />
</widget>
